body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #eddada;
}

.calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(19, 18, 18, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

.display {
    width: 100%;
    height: 50px;
    background: #121111;
    color: #fff;
    border: none;
    text-align: right;
    padding: 0 10px;
    font-size: 24px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.text-center{
    color: rgb(14, 161, 234);
    text-decoration: underline;
    font-weight: bold;
  
  }
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    border-radius: 2px solid rgb(255, 172, 57);
   
}

button {
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 5px ;
    background-color: #e0e0e0;
    color: #333;
    cursor: pointer;
}

button:active {
    background-color: #d0d0d0;
}

button.zero {
    grid-column: span 2;
}

@media (max-width: 400px) {
    .calculator {
        padding: 10px;
    }

    .display {
        height: 40px;
        font-size: 20px;
    }

    button {
        height: 40px;
        font-size: 16px;
    }
}
